@{
    Layout = "_Layout";
    var maestrias = ViewBag.Maestrias as List<MaestriaProcessoViewModel>;
}

<link href="~/componentes/shepherd/shepherd.css" rel="stylesheet" />
<link href="~/componentes/izimodal/css/iziModal.min.css" rel="stylesheet" />
<link href="~/lib/tabulator/css/tabulator_simple.css" rel="stylesheet" />


<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="tipoProcessoSelect" class="font-label-poppins">Tipo</label>
                            <select class="form-control" id="tipoProcessoSelect">
                                <option>Selecione o tipo de processo</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoAquecimento)">Aquecimento</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoChacoalhar)">Chacoalhar</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoMoagem)">Moagem</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoCorte)">Corte</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoDesidratacao)">Desidratação</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoFabrica)">Fabrica</option>
                                <option value="@((int)TipoReceitaEnum.ProcessoFiltragem)">Filtragem</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="receitaSelect" class="font-label-poppins">Receita</label>
                            <select class="form-control" id="receitaSelect">
                                <option value="">Selecione a receita</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidade" class="font-label-poppins">Quantidade</label>
                            <input type="text" class="form-control mask-quantidade" id="quantidade" min="0" value="0" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nivelProcesso" class="font-label-poppins">Nível (Processo)</label>
                            <select class="form-control" id="nivelProcesso">
                                <option>Selecione o nível</option>
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">Iniciante @i</option>
                                }
                                @for (int i = 11; i <= 20; i++)
                                {
                                    <option value="@i">Aprendiz @(i - 10)</option>
                                }
                                @for (int i = 21; i <= 30; i++)
                                {
                                    <option value="@i">Proficiente  @(i - 20)</option>
                                }
                                @for (int i = 31; i <= 40; i++)
                                {
                                    <option value="@i">Profissional @(i - 30)</option>
                                }
                                @for (int i = 41; i <= 50; i++)
                                {
                                    <option value="@i">Artesão @(i - 40)</option>
                                }
                                @for (int i = 51; i <= 80; i++)
                                {
                                    <option value="@i">Mestre @(i - 50)</option>
                                }
                                @for (int i = 81; i <= 100; i++)
                                {
                                    <option value="@i">Guru @(i - 80)</option>
                                }
                            </select>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label for="maestria" class="font-label-poppins">Maestria (Processo)</label>
                                <select class="form-control" id="maestriaProcessoSelect">
                                    <option value="0">Selecione a maestria</option>
                                    @if (maestrias != null)
                                    {
                                        foreach (var maestria in maestrias)
                                        {
                                            <option value="@maestria.Batch">@maestria.Mastery</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>*@
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label for="loteProcesso" class="font-label-poppins">Lote (Processo)</label>
                                <input type="text" class="form-control" readonly id="loteProcesso" min="0" value="0" style="border-radius: 0;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="proc" class="font-label-poppins">Proc Normal (Processo)</label>
                                <input type="text" class="form-control mask-proc" id="proc-normal" min="0" value="2.5" style="border-radius: 0;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="proc-especial" class="font-label-poppins">Proc Raro (Processo)</label>
                                <input type="text" class="form-control mask-proc" id="proc-raro" min="0" value="0.05" style="border-radius: 0;" />
                            </div>
                        </div>*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="calcular">&nbsp;</label>
                            <button type="submit" class="btn button-custom-color square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnCalcular">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroBruto-card">
                    <div class="media d-flex">
                        @*<div class="align-self-center">
                                <img src="~/imagens/icones/bruto-icon.svg" class="float-left" width="72" height="72" />
                            </div>*@
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroBruto">0</h3>
                            <span>Lucro Bruto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="custoTotal-card">
                    <div class="media d-flex">
                        @*<div class="align-self-center">
                                <img src="~/imagens/icones/ingredientes-icon.svg" class="float-left" width="72" height="72" />
                            </div>*@
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="custoTotal">0</h3>
                            <span>Custo Total dos Ingredientes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroComPctEconomico-card">
                    <div class="media d-flex">
                        @*<div class="align-self-center">
                                <img src="~/imagens/icones/pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>*@
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroComPctEconomico">0</h3>
                            <span>Lucro Liq. C/Pct. Eco. (84.5%)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroSemPctEconomico-card">
                    <div class="media d-flex">
                        @*<div class="align-self-center">
                                <img src="~/imagens/icones/sem-pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>*@
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroSemPctEconomico">0</h3>
                            <span>Lucro Liq. S/Pct. Eco. (65%)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-9 div-custom-color">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show background-e2e2e1" id="tab-ingredientes" data-toggle="tab" aria-controls="ingredientes" href="#ingredientes" aria-expanded="true">Ingredientes</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" id="tab-usado-em" data-toggle="tab" aria-controls="usado-em" href="#usado-em" aria-expanded="false">Usado Em</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-estatisticas" data-toggle="tab" aria-controls="estatisticas" href="#estatisticas" aria-expanded="false">Estatísticas</a>
                                </li>*@
                        </ul>
                        <div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top background-e2e2e1">
                            <div role="tabpanel" class="tab-pane active show" id="ingredientes" aria-expanded="true" aria-labelledby="tab-ingredientes">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="ingredientesGrid"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            @*<div class="tab-pane" id="estatisticas" aria-labelledby="tab-estatisticas">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>*@

                            @*<div class="tab-pane" id="usado-em" aria-labelledby="tab-usado-em">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="culinariaItensReceitaTbMicro"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show background-e2e2e1" id="tab-resultados" data-toggle="tab" aria-controls="resultados" href="#resultados" aria-expanded="true">Resultados</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top background-e2e2e1">
                            <div role="tabpanel" class="tab-pane active show" id="resultados" aria-expanded="true" aria-labelledby="tab-resultados">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="resultadosGrid"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="treeView">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text search-input"><i class="ft-search"></i></span>
                        </div>
                        <input type="text" class="form-control ac-default ui-autocomplete-input search-input" id="treeview-search" autocomplete="off">
                    </div>
                </fieldset>
                <div class="col-md-12" id="treeViewContent">
                </div>
            </div>

        </div>
    </div>
</div>

<div id="detalhesItem"></div>

<div class="config-sidenav">
    <a class="config-sidenav-close">
        <i class="ft-x"></i>
    </a>
    <a class="config-sidenav-toggle">
        <i class="ft-settings spinner"></i>
    </a>
    <div class="config-sidenav-content">
        <h3 class="font-label-poppins">CONFIGURAÇÕES</h3>
        <hr />
        <div class="form-group">
            <label for="maestria-agitacao-select" class="font-sm-label-poppins">Maestria (Agitação)</label>
            <select class="form-control maestria" id="maestria-agitacao-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-moagem-select" class="font-sm-label-poppins">Maestria (Moagem)</label>
            <select class="form-control maestria" id="maestria-moagem-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-corte-select" class="font-sm-label-poppins">Maestria (Corte)</label>
            <select class="form-control maestria" id="maestria-corte-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-desidratacao-select" class="font-sm-label-poppins">Maestria (Desidratação)</label>
            <select class="form-control maestria" id="maestria-desidratacao-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-filtragem-select" class="font-sm-label-poppins">Maestria (Filtragem)</label>
            <select class="form-control maestria" id="maestria-filtragem-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-aquecimento-select" class="font-sm-label-poppins">Maestria (Aquecimento)</label>
            <select class="form-control maestria" id="maestria-aquecimento-select">
                <option value="0">Selecione a maestria</option>
                @if (maestrias != null)
                {
                    foreach (var maestria in maestrias)
                    {
                        <option value="@maestria.Batch">@maestria.Mastery</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="maestria-alquimia-select" class="font-sm-label-poppins">Maestria (Alquimia)</label>
            <select class="form-control maestria" id="maestria-alquimia-select">
            </select>
        </div>
        <div class="form-group">
            <label for="proc-normal-alquimia" class="font-label-poppins">Proc Normal (Alquimia)</label>
            <input type="text" class="form-control mask-proc" id="proc-normal-alquimia" min="0" value="2.5" style="border-radius: 0;" />
        </div>
        <div class="form-group">
            <label for="proc-raro-alquimia" class="font-label-poppins">Proc Raro (Alquimia)</label>
            <input type="text" class="form-control mask-proc" id="proc-raro-alquimia" min="0" value="0.3" style="border-radius: 0;" />
        </div>
        <div class="config-sidenav-footer">
            <button type="button" class="btn button-custom-color square font-label-poppins" style="border-radius: 20px;" id="btnSalvarConfiguracao">Salvar</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/componentes/shepherd/shepherd.js"></script>
    <script src="~/componentes/izimodal/js/iziModal.min.js"></script>
    <script src="~/lib/tabulator/js/tabulator.min.js"></script>
    <script src="~/js/Processo/Processo.js" asp-append-version="true"></script>
}
