@model List<Tuple<ItemViewModel, long, bool, long>>


@{
    Layout = null;
}

@if (Model != null && Model != null)
{
    @foreach (var sub in Model)
    {
        <div class="iconset_wrapper_medium inlinediv receita-item" data-valor="@sub.Item1.Valor" data-empacotar="@sub.Item2" data-disponivel="@sub.Item1.QuantidadeDisponivel" data-nome="@sub.Item1.Nome" data-atualizado="@sub.Item1.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")" data-referencia="">
            <a href="#" class="qtooltip" data-id="@sub.Item1.ReferenciaId">
                <div class="icone-wrapper">

                    <img src="@($"/Content/Image?referenciaId={sub.Item1.ReferenciaId}")" alt="icon" class="icone-medio" style="@(!sub.Item3 ? "filter: grayscale(100%); opacity: 40%;" : string.Empty)">
                </div>
                <div class="quantidade-pequeno nowrap">@sub.Item4</div>
            </a>
        </div>
    }
}
