@{
    Layout = "_Layout";
}

<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nivelProfissao" class="font-label-poppins">Nível da Profissão</label>
                            <select class="form-control" id="nivelProfissao">
                                <option>Selecione o nível da profissão</option>
                                <option value="@NivelHabilidadeEnum.Aprendiz">Aprendiz</option>
                                <option value="@NivelHabilidadeEnum.Proeficiente">Proeficiente</option>
                                <option value="@NivelHabilidadeEnum.Profissional">Profissional</option>
                                <option value="@NivelHabilidadeEnum.Artesao">Artesão</option>
                                <option value="@NivelHabilidadeEnum.Mestre">Mestre</option>
                                <option value="@NivelHabilidadeEnum.Guru">Guru</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="maestria" class="font-label-poppins">Maestria</label>
                            <select class="form-control" id="maestriaSelect">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidade" class="font-label-poppins">Contribuição</label>
                            <input type="text" class="form-control mask-quantidade" id="pontosContribuicao" min="0" value="0" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidadeEntregas" class="font-label-poppins">Entregas / Dia</label>
                            <input type="text" class="form-control mask-quantidade" id="quantidadeEntregas" min="0" value="0" style="border-radius: 0;" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="btnFiltrar">&nbsp;</label>
                            <button type="submit" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnFiltrar">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-12 div-custom-color">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select id="ordenarPor" class="form-control">
                                <option></option>
                                <option value="item">Nome do Item</option>
                                <option value="disponibilidadePrimaria">Disponibilidade de compra (Item)</option>
                                <option value="disponibilidadesSecundarias">% Disponibilidade de compra (Sub-Itens)</option>
                                <option value="lucroLiquidoPrimaria">Lucro Líquido (Item)</option>
                                <option value="lucroLiquidoSecundaria">Lucro Líquido (Sub-itens)</option>
                                <option value="lucroBrutoPorDia">Lucro Bruto</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <button type="button" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="sort">Ordernar</button>
                    </div>
                </div>
                <hr />
                <p class="font-label-poppins" style="color: white !important;">é possivel navegar lateralmente na grid pressionando SHIFT + ROTACIONAR SCROLL DO MOUSE</p>
                <div class="row">
                    <div class="col-md-12">
                        <div id="imperialGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Imperial/Culinaria.js" asp-append-version="true"></script>
}