@{
    Layout = "_Layout";
}

<link href="~/componentes/shepherd/shepherd.css" rel="stylesheet" />
@*<link href="~/lib/tabulator/css/tabulator_midnight.css" rel="stylesheet" />*@
<link href="~/lib/tabulator/css/tabulator_simple.css" rel="stylesheet" />
@*<link href="~/lib/tabulator/css/tabulator_modern.css" rel="stylesheet" />*@
@*<link href="~/lib/tabulator/css/bootstrap/tabulator_bootstrap4.css" rel="stylesheet" />*@
<link href="~/componentes/izimodal/css/iziModal.min.css" rel="stylesheet" />
<link href="~/componentes/izitoast/css/iziToast.css" rel="stylesheet" />
@*<link href="~/lib/tabulator/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet" />*@


<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nivelProfissao" class="font-label-poppins">Profissão</label>
                            <select class="form-control" id="profissao">
                                <option value="0">Selecione a profissão</option>
                                <option value="@((int)TipoReceitaEnum.Alquimia)">Alquimia</option>
                                <option value="@((int)TipoReceitaEnum.Culinaria)">Culinária</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nivelProfissao" class="font-label-poppins">Nível</label>
                            <select class="form-control" id="nivelProfissao">
                                <option>Selecione o nível da profissão</option>
                                <option value="@NivelHabilidadeEnum.Aprendiz">Aprendiz</option>
                                <option value="@NivelHabilidadeEnum.Proeficiente">Proeficiente</option>
                                <option value="@NivelHabilidadeEnum.Profissional">Profissional</option>
                                <option value="@NivelHabilidadeEnum.Artesao">Artesão</option>
                                <option value="@NivelHabilidadeEnum.Mestre">Mestre</option>
                                <option value="@NivelHabilidadeEnum.Guru">Guru</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="maestria" class="font-label-poppins">Maestria</label>
                            <select class="form-control" id="maestriaSelect">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidade" class="font-label-poppins">Contribuição</label>
                            <input type="text" class="form-control mask-quantidade" id="pontosContribuicao" min="0" value="0" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidadeEntregas" class="font-label-poppins">Entregas / Dia</label>
                            <input type="text" class="form-control mask-quantidade" id="quantidadeEntregas" min="0" value="0" style="border-radius: 0;" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="btnFiltrar">&nbsp;</label>
                            <button type="submit" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnFiltrar">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div class="row">
    <div class="col-12">
        <span>Mais Lucrativa Disponível (Item)</span>
    </div>
</div>*@

<div class="row">
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="mais-lucrativa-item-card">
                    <div class="media d-flex">
                        <div class="align-self-center" id="mais-lucrativa-item-img">
                            @*<img src="" class="float-left"  width="72" height="72" />*@
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-sm-label-poppins" id="mais-lucrativa-item"></h3>
                            <span>Mais Lucrativa Disponível (Item)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="mais-lucrativa-subitem-card">
                    <div class="media d-flex">
                        <div class="align-self-center" id="mais-lucrativa-subitem-img">
                            @*<img src="" class="float-left"  width="72" height="72" />*@
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-sm-label-poppins" id="mais-lucrativa-subitem"></h3>
                            <span>Mais Lucrativa (Subitens)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="peso-disponivel-necessario-card">
                    <div class="media d-flex">
                        @*<div class="align-self-center">
                                <img src="~/imagens/icones/pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>*@
                        <div class="media-body text-right">
                            <h3 class="font-sm-label-poppins" id="peso-disponivel-necessario"></h3>
                            <span>Peso Disponível Necessário</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-12 div-custom-color">
            <div class="card-body">
                <p class="font-label-poppins" style="color: white !important;">É possível navegar entre as colunas da tabela pressionando Shift + Rotacionar Scroll do mouse.</p>
                <input id="filtroNome" type="text" class="form-control" placeholder="Filtro">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="imperialGrid2" class="table-striped table-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="detalhes-receita" style="display: none;">
    <div class="col-md-12" style="padding: 20px;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="AddIngrediente" class="font-sm-label-poppins">Ingrediente</label>
                    <input type="text" class="form-control" name="AddIngrediente" value="" />
                    <div id="sugestao-ingrediente"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="QtdIngrediente" class="font-sm-label-poppins">Quantidade</label>
                    <input type="text" class="form-control" name="QtdIngrediente" value="" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="btnAdicionarIngrediente">&nbsp;</label>
                <button type="button" onclick="" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnAdicionarIngrediente">Adicionar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/componentes/shepherd/shepherd.js"></script>
    <script src="~/lib/tabulator/js/tabulator.min.js"></script>
    <script src="~/componentes/izimodal/js/iziModal.min.js"></script>
    <script src="~/componentes/izitoast/js/iziToast.js"></script>
    <script src="~/js/Imperial/ImperialV2.js" asp-append-version="true"></script>
    <script src="~/js/Imperial/ImperialTour.js" asp-append-version="true"></script>
}
