@{
    Layout = "_Layout";
}

<link href="~/componentes/shepherd/shepherd.css" rel="stylesheet" />

<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nivelProfissao" class="font-label-poppins">Profissão</label>
                            <select class="form-control" id="profissao">
                                <option value="0">Selecione a profissão</option>
                                <option value="@((int)TipoReceitaEnum.Alquimia)">Alquimia</option>
                                <option value="@((int)TipoReceitaEnum.Culinaria)">Culinária</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="nivelProfissao" class="font-label-poppins">Nível da Profissão</label>
                            <select class="form-control" id="nivelProfissao">
                                <option>Selecione o nível da profissão</option>
                                <option value="@NivelHabilidadeEnum.Aprendiz">Aprendiz</option>
                                <option value="@NivelHabilidadeEnum.Proeficiente">Proeficiente</option>
                                <option value="@NivelHabilidadeEnum.Profissional">Profissional</option>
                                <option value="@NivelHabilidadeEnum.Artesao">Artesão</option>
                                <option value="@NivelHabilidadeEnum.Mestre">Mestre</option>
                                <option value="@NivelHabilidadeEnum.Guru">Guru</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="maestria" class="font-label-poppins">Maestria</label>
                            <select class="form-control" id="maestriaSelect">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidade" class="font-label-poppins">Contribuição</label>
                            <input type="text" class="form-control mask-quantidade" id="pontosContribuicao" min="0" value="0" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidadeEntregas" class="font-label-poppins">Entregas / Dia</label>
                            <input type="text" class="form-control mask-quantidade" id="quantidadeEntregas" min="0" value="0" style="border-radius: 0;" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="btnFiltrar">&nbsp;</label>
                            <button type="submit" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnFiltrar">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroBruto-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/bruto-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="maisLucrativa">0</h3>
                                <span>Mais Lucrativa (Item)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="custoTotal-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/ingredientes-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="custoTotal">0</h3>
                                <span>Mais Lucrativa (Subitens)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroComPctEconomico-card">
                        <div class="media d-flex">

                            <div class="align-self-center">
                                <img src="~/imagens/icones/pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="lucroComPctEconomico">0</h3>
                                <span>Lucro Liq. C/Pct. Eco. (84.5%)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroSemPctEconomico-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/sem-pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="lucroSemPctEconomico">0</h3>
                                <span>Lucro Liq. S/Pct. Eco. (65%)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-12 div-custom-color">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <select id="ordenarPor" class="form-control">
                                <option></option>
                                <option value="item">Nome do Item</option>
                                <option value="imgItem">Disponibilidade de compra (Item)</option>
                                <option value="subItensInline">Disponibilidade de compra (Subitens)</option>
                                <option value="lucroLiquidoPrimaria">Lucro Líquido (Item)</option>
                                <option value="lucroLiquidoSecundaria">Lucro Líquido (Subitens)</option>
                                <option value="lucroBrutoPorDia">Lucro Bruto</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <button type="button" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="sort">Ordenar</button>
                    </div>
                    <div class="col-md-7" style="text-align: center">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- BdoLife - 728X90 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-8791502008730828"
                             data-ad-slot="5181475696"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <hr />
                <p class="font-label-poppins" style="color: white !important;">É possível navegar entre as colunas da tabela pressionando Shift + Rotacionar Scroll do mouse.</p>
                <div class="row">
                    <div class="col-md-12">
                        <div id="imperialGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/componentes/shepherd/shepherd.js"></script>
    <script src="~/js/Imperial/Imperial.js" asp-append-version="true"></script>
    <script src="~/js/Imperial/ImperialTour.js" asp-append-version="true"></script>
}